<%- contentFor('body') %>
<div>
    <h1>Lista de Alunos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Matrícula</th>
                <!-- <th>Actions</th> -->
                <th>Status</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.name %></td>
                    <td><%= student.dateOfBirth %></td>
                    <td><%= student.registration %></td>
                    <td><%= student.status %></td>
                    <td><%= student.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/students/new">New Student</a>
</div>

<!-- 
<td>
    <a href="/students/<%= student.id %>">View</a>
    <a href="/students/<%= student.id %>/edit">Edit</a>
    <form action="/students/<%= student.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</td> -->